@import 'node_modules/ol/ol.css';

html,
body {
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template-rows: min-content auto;
  height: 100vh;
}
header {
  padding: 0.2em;
}

#levelPicker {
  position: absolute;
  top: 5ex;
  right: 1ex;
  display: flex;
  flex-direction: column;
  gap: 0.5ex;
}

#levelPicker button.active {
  filter: invert();
}

#info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: white;
  padding: 1em;
  display: none;
}
